* { margin: 0; padding: 0; }

html {
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../images/bg.jpg') center fixed;
    background-size: cover;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    margin: 0 15%;
    grid-template-rows: 53vh auto 110px;
    grid-template-columns: 100%;
    grid-template-areas: "h" "c" "f";
}

.wrapper > header {
    grid-area: h;
}

.wrapper > content {
    background-color: #c6d3d6;
    border-radius: 8px;
    grid-area: c;
    padding: 15px 20px;
}

.wrapper > footer {
    background-color: #4d5556;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    grid-area: f;
    margin-top: 15px;
    padding-top: 5px;
}

